.navbar {
  height: 10vh;
  margin: 0;
  background-color: white;
}

img {
  height: 8vh;
  margin-right: 10px;
}

.container-fluid {
  background-color: white;
}

a {
  font-size: 22px;
}

.log-icon {
  margin-right: 10px;
  width: 30px;
  color: var(--dark-orange);
  padding-top: 7px;
  cursor: pointer;
}
