<section id="presentation">

  <div class="container">

    <div class="row"></div>

    <h2 class="display-4">La contraception masculine thermique</h2>
    <p class="lead">C'est un moyen de contraception qui vise à obtenir une infertilité temporaire en privant les
      testicules d'une température favorable à la production de spermatozîdes.</p>
    <hr class="my-4">

    <h3>Principe & moyens </h3>

    <p>Pour créer des spermatozoides, les testicules ont besoin d’une température de 34°C degres celsius. La CMT, dite
      aussi “la thermique”, vise à maintenir les testicules en position haute, contre la base de la verge, afin de les
      maintenir à une température de 37 degres celsius
    </p>
    <p>Deux moyens principaux sont présents à l'heure actuelle</p>

    <div class="row">

      <div class="col">

        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Le slip chauffant</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">L'anneau thermique</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Mécanique</li>
            <li class="list-group-item">Un seul achat</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>









    <h4></h4>

    <h3>La mise en place</h3>


  </div>
</section>