<section id="home">

  <div class="jumbotron">
    <h1 class="display-4">KOMATE</h1>
    <p class="lead">Komate est l'application qui vous renseigne sur la contraception masculine thermique et plus
      particulièrement sur l'anneau contraceptif.</p>
    <hr class="my-4">
    <p>Nous travaillons en partenariat avec les personnes qui utilisent mais aussi qui concoivent ce moyen de
      contraception.</p>
    <a class="btn btn-primary btn-lg bg-orange" href="#" role="button">En savoir plus</a>
  </div>

</section>