/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-orange: #ff7a00;
  --dark-orange: #d96b1c;
  --white: whitesmoke;
}

.bg-orange {
  background-color: var(--main-orange);
}

.text-orange {
  color: var(--main-orange);
}

.btn {
  background-color: var(--main-orange);
  border: none;
  color: white;
}
.btn:hover {
  background-color: var(--dark-orange);
  border: none;
}
